.intro-title {
  font-size: 4.5em;

}

.intro-description{
  padding: 0 0.625rem;
  margin-bottom: 3.875rem;
}

.intro{
  font-weight: 400;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 200;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}
